<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Formatting" version="2.9.6" targetFramework="net40" />
  <package id="FSharpVSPowerTools.Core" version="1.8.0" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="0.0.87" targetFramework="net45" />
</packages>